<nav class="navbar">
    <div class="logo">Personal Budget Tracker</div>
    <ul class="nav-links">
      <li><a href="">Home</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
  </nav>

<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>
        Email:
        <input type="email" formControlName="email" />
      </label>
      <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
      </div>
  
      <label>
        Password:
        <input type="password" formControlName="password" />
      </label>
      <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 6 characters required.</small>
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  