<nav class="navbar">
    <div class="logo">Personal Budget Tracker</div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a href="#">Signup</a></li>
    </ul>
  </nav>
  
  <div class="home-content">
    <h1>Welcome to Personal Budget Tracker</h1>
    <p>A personal budget tracker helps manage income and expenses, promotes savings, and improves financial habits. It offers clarity, control, and confidence, making it easier to achieve financial goals and stability.</p>
  </div>
  
